.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid;
    border-radius: 1rem;
    margin: 1rem 0;
}
.acordeon:hover, .acordeon.acordeon.open{
    background-color: #55569e;
    border-color: #55569e;
    transition: 0.25s;
}
.acordeon .content {
    height: 0;
    overflow: hidden;
    padding: 0 2rem;
    transition: height 0.25s ease;
}
.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
}
.acordeon .trigger h2 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: start;
}
.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1rem;
    background: url('../img/icons/arrow.svg') no-repeat center center / contain;
    transition: 0.25s;
}
.acordeon .trigger:hover {
    cursor: pointer;
}
.acordeon.open .content {
    display: inline-block;
    padding: 0 1rem 1rem 2rem;
}
.acordeon.open .trigger::after {
    transform: rotate(180deg);
}