.portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
.portfolio li {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}
.portfolio li .title.github::before {
    content: '';
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
    background: url('../img/icons/github.svg') no-repeat center / contain;
}
.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.portfolio li a {
    display: block;
    font-weight: 400;
    margin-left: 2rem;
}
@media screen and (min-width: 768px) {
    .portfolio li a {
        margin-left: 0;
    }
}