.skills {
    display: flex;
    flex-direction: column;
}
.hard-skills h3, .soft-skills h3 {
    padding: 1rem 0;
}
.hard-skills ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.hard-skills ul li img {
    max-width: 5rem;
    padding: 0.5rem;
}
.soft-skills ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.soft-skills ul li {
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin: 0 1rem;
}
@media screen and (min-width: 768px) {
    .skills {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
}